:host {
  display: flex;
  flex-direction: column;
  width: 560px;
}

.form {
  display: flex;
  flex-direction: column;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0.15px;
  padding: 4px 0;
  color: #263238;
  .title {
    height: 120px;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  button {
    text-transform: uppercase;
  }
  .cancel {
    color: #ff0000;
  }
  .confirm {
    color: #2f7fd5;
  }
}

.mr-20 {
  margin-right: 20px;
}

@media (max-width: 900px) {
  :host {
    width: 65vw;
  }
  .buttons {
    gap: 20px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
  }
}
