<form [formGroup]="form" class="form">
  <mat-form-field appearance="fill">
    <mat-label>Введите описание</mat-label>
    <input formControlName="description" class="description" matInput />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Введите описание</mat-label>
    <textarea formControlName="title" class="title" matInput></textarea>
  </mat-form-field>
</form>

<div class="buttons">
  <input
    type="file"
    accept="image/png, image/jpeg"
    (change)="onFileSelected()"
    id="file"
  />

  <button
    mat-raised-button
    color="primary"
    (click)="saveNews()"
    [disabled]="form.invalid"
    class="mr-20"
  >
    Сохранить
  </button>
  <button mat-raised-button mat-dialog-close="cancel" color="gray">
    Отменить
  </button>
</div>
