:host {
  display: flex;
  flex-direction: column;
  width: 560px;
}

.form {
  display: flex;
  flex-direction: column;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0.15px;
  padding: 4px 0;
  color: #263238;
  .description {
    height: 40px;
    margin-bottom: 20px;
    font-size: 18px;
    padding: 5px;
  }
  .title {
    height: 240px;
    margin-bottom: 20px;
    font-size: 18px;
    padding: 5px;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  button {
    text-transform: uppercase;
  }
  .cancel {
    color: #ff0000;
  }
  .confirm {
    color: #2f7fd5;
  }
}
