<div *ngIf="news" class="preview" [ngClass]="{ local: localNews }">
  <div class="news" (click)="goToNews(news.url ? news.url : null)">
    <div class="info">
      <div class="description">
        <p class="main" [title]="news.description">{{ news.description }}</p>
        <p class="title" [title]="news.title">{{ news.title }}</p>
      </div>
      <div class="data">
        <span>{{ news.categoryType }}</span>
        <span>{{ news.publishedDate | date }}</span>
      </div>
    </div>
    <div class="img">
      <img [src]="news.titleImageUrl || 'assets/img/plug.svg'" />
    </div>
  </div>
</div>
